* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background: rgb(10, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(10, 0, 36, 1) 0%,
        rgba(32, 9, 121, 1) 15%,
        rgba(32, 30, 128, 1) 85%
    );
}
body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid white;
}
body header .logo-container {
    margin: 5px;
    padding: 5px;
}

body header .logo-container h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body header .menu-container {
    margin: 5px;
    padding: 5px;
}

body header .menu-container ul {
    display: flex;
    flex-direction: row;
}

body header .menu-container ul li {
    margin: 5px;
    padding: 5px;
    list-style: none;
}

body header .menu-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body header .menu-container ul li a:hover {
    border-bottom: 1px solid white;
    color: black;
    font-size: 18px;
    transition: 0.5s;
}

body main {
    display: flex;
}

body main .landingPage-container {
    margin: 5px;
    padding: 5px;
}

body main .landingPage-container h2 {
    margin-left: 20px;
    padding: 20px;
    color: white;
    font-size: 35px;
}

body main .landingPage-container p {
    margin: 20px;
    padding: 20px;
    width: 30%;
    color: white;
    font-size: 18px;
}
