<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./styles/style.css" rel="stylesheet" />
        <title>Pagina de captura - Empresa</title>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <h1>Empresa</h1>
            </div>
            <div class="menu-container">
                <ul>
                    <li>
                        <a href="#form-container">E-book</a>
                    </li>
                    <li>
                        <a href="#sobre-container">Sobre</a>
                    </li>
                    <li>
                        <a href="#contato-container">Contato</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            <div class="landingPage-container">
                <h2>CADASTRE-SE E RECEBA O E-BOOK</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nemo illo quisquam impedit dignissimos quaerat iure,
                    consequuntur corporis quo! Atque necessitatibus assumenda ea
                    accusantium repellendus quasi veritatis nobis distinctio
                    nesciunt explicabo!
                </p>
                <button href="#sobre-container" type="submit">Sobre</button>
            </div>
            <div id="form-container">
                <h2>FAÇA SEU CADASTRO</h2>
                <form action="" method="POST">
                    <fieldset>
                        <label for="name">Nome:</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Insira seu nome"
                            required
                        />

                        <label for="email">Email:</label>
                        <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Insira seu email"
                            required
                        />

                        <button type="submit">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </main>
    </body>
</html>
